#dashboard{
  background-color:  rgba(255, 255, 255, .1);
  border-left: 3px solid white;
}

.hovertimestamp {
    position: absolute;
    margin-left: 40%;
    margin-top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color:  rgba(0, 0, 0, 0.9);
    border-radius: 99px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .hovertimestamp:before, .hovertimestamp:after {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  .hovertimestamp:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color:rgba(0, 0, 0);
  }
  .hovertimestamp:after {
    content: '';
    right: 0;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0);
  }
  .hovertimestamp:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .hovertimestamp:hover span {
    opacity: 0;
    z-index: -3;
  }
  .hovertimestamp:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  .hovertimestamp:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  .hovertimestamp span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .hovertimestamp .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    transition: 0.25s;
  }

  .hovertimestamp .social-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  @keyframes bounce {
    40% {
      transform: scale(1.4);
    }
    60% {
      transform: scale(0.8);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

 i.icon
{
  margin-top: 3%;
  font-size: 1em;
  display: inline-block;
  position: relative;
  width: 13em;
  height: 13em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

i.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

i.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.8em 0;
  color: #fff;
  background-color: black;
  border-bottom: 1px dashed black;
  box-shadow: 0 2px 0 black;
}

i.icon em
{
  position: absolute;
  bottom: 2.8em;
  color: black;
}

i.icon span
{
  font-size: 3em;
  letter-spacing: -0.05em;
  padding-top: 1.8em;
  color: #2f2f2f;
}

#piechart, #categorysales, #listofprod, #selectedprod{
    display:inline-block;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

#piechart{
    vertical-align: top;
    margin-left:5%;
    margin-top:3%;
    width:30%;
    height:30%;
}

#categorysales{
    width:30%;
    height:50%;
    margin-left: 5%;
    margin-top:-18%;
    vertical-align: top;
}

#listofprod{
    margin-left:2%;
    margin-top:3%;
    width:57%;
    height:60%;
    overflow-y: auto;
    overflow-x: hidden;
}

#selectedprod{
    margin-left:2%;
    margin-top:1%;
    width:57%;
    height:21%;
    overflow-y: auto;
    overflow-x: hidden;
}



  .buttoncategory {
    margin-top:7%;
    margin-left: 20%;
    width: 300px;
    padding: 1rem 3.5rem 1rem 1.5rem;
    transition: 0.2s all;
    cursor: pointer;
    box-shadow: -12px -9px 0px white, 0px 0px 0px rgba(255, 255, 255, 0);
  }
  .buttoncategory p {
    padding: 0;
    margin: 0;
  }
  .buttoncategory:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    position: absolute;
    right: 24px;
    transition: 0.2s all;
    opacity: 1;
    color: black;
  }
  .buttoncategory:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    content: "";
    background: #efefef;
    height: 50px;
    width: 100%;
    transition: 0.3s all;
  }
  .buttoncategory:hover {
    box-shadow: 12px 9px 0px white, 18px 15px 0px  black;
  }
  .buttoncategory:hover:before {
    position: absolute;
    right: 5px;
    opacity: 1;
  }
  .buttoncategory:hover:after {
    width: 50%;
  }

  /* a {
    color:  black;
    text-decoration: none;
    transition: 0.2s;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
  } */



  #ListofProdTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  #ListofProdTable td {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  #ListofProdTable tr:first-child td {
    border-top: 0;
  }
  #ListofProdTable tr td:first-child {
    border-left: 0;
  }
  #ListofProdTable tr:last-child td {
    border-bottom: 0;
  }
  #ListofProdTable tr td:last-child {
    border-right: 0;
  }
